/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --header-logo-lightness: 0;
        --footer-logo-lightness: 0.6;

        --c-bar-height: 24px;
        --c-logo-height: calc(var(--c-bar-height) + 4px);
        --c-header-height: calc(var(--c-bar-height) + 2 * var(--metrics-offset));
        --c-screen-height: 720px;
        --c-screen-height: 100vh;
        --c-screen-height: 100svh;
        --c-hero-height: calc(var(--c-screen-height) - var(--c-header-height));
        --c-page-min-height: calc(var(--c-screen-height) - var(--c-header-height) - var(--c-module-3));
    }
    @media (min-width: theme("screens.xs")) {
        :root {
            --c-bar-height: 32px;
            --c-logo-height: calc(var(--c-bar-height) + 8px);
        }
    }

    body {
        @apply relative overflow-x-hidden text-on-surface bg-surface;
    }

    main {
        @apply static container mx-auto px-offset min-h-page-height;
    }

    body.lock-scroll {
        height: -webkit-fill-available;
        overflow: hidden;
    }

    h1 {
        @apply typo-caps-3xl text-outline lg:text-outline-thick data-[hyphen=true]:max-md:hyphens-auto;
    }

    th {
        @apply text-left font-normal;
    }
}
