/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    /* Font import */
    @font-face {
        font-family: 'Mabry Pro';
        font-style: normal;
        font-weight: 300;
        src: url(/fonts/mabry-light-pro.otf) format('opentype');
        font-display: swap;
    }

    @font-face {
        font-family: 'Mabry Pro';
        font-style: normal;
        font-weight: 400;
        src: url(/fonts/mabry-regular-pro.otf) format('opentype');
        font-display: swap;
    }

    /* Media */
    :root {
        --media-xs: 512;
        --media-sm: 796;
        --media-md: 984;
        --media-lg: 1268;
    }

    /* Metrics */
    :root {
        --metrics-columns: 12;
        --metrics-unit: 4px;
        --metrics-offset: 20px;
        --metrics-gutter: 8px;
        --metrics-module: 32px;

        --c-bar-height: 24px;
        --c-logo-height: calc(var(--c-bar-height) + 4px);
        --c-header-height: calc(var(--c-bar-height) + 2 * var(--metrics-offset));
        --c-hero-height: calc(100svh - var(--c-header-height));
    }
    @media (min-width: theme('screens.xs')) {
        :root {
            --c-bar-height: 32px;
            --c-logo-height: calc(var(--c-bar-height) + 8px);
        }
    }
    @media (min-width: theme('screens.sm')) {
        :root {
            --metrics-columns: 24;
            --metrics-gutter: 12px;
            --metrics-module: 20px;
        }
    }
    @media (min-width: theme('screens.md')) {
        :root {
            --metrics-gutter: 16px;
            --metrics-module: 24px;
        }
    }
    @media (min-width: theme('screens.lg')) {
        :root {
            --metrics-gutter: 20px;
            --metrics-module: 32px;
        }
    }

    /* Constants */
    :root {
        --c-module-2: calc(2 * var(--metrics-module) + var(--metrics-gutter));
        --c-module-3: calc(3 * var(--metrics-module) + 2 * var(--metrics-gutter));
        --c-module-4: calc(4 * var(--metrics-module) + 3 * var(--metrics-gutter));
        --c-module-5: calc(5 * var(--metrics-module) + 4 * var(--metrics-gutter));
        --c-module-6: calc(6 * var(--metrics-module) + 5 * var(--metrics-gutter));
        --c-module-7: calc(7 * var(--metrics-module) + 6 * var(--metrics-gutter));
        --c-module-8: calc(8 * var(--metrics-module) + 7 * var(--metrics-gutter));
        --c-module-9: calc(9 * var(--metrics-module) + 8 * var(--metrics-gutter));
        --c-module-10: calc(10 * var(--metrics-module) + 9 * var(--metrics-gutter));
        --c-module-11: calc(11 * var(--metrics-module) + 10 * var(--metrics-gutter));
        --c-module-12: calc(12 * var(--metrics-module) + 11 * var(--metrics-gutter));

        /* Swatches */
        --swatch-white: 255 255 255;
        --swatch-black: 50 50 50;
        --swatch-blue: 44 44 227;
        --swatch-green: 60 80 60;
        --swatch-sky-blue: 160 193 245;
        --swatch-grey: 153 153 153;

        /* Theme */
        --theme-surface: var(--swatch-white);
        --theme-text: var(--swatch-black);
        --theme-text-light: var(--swatch-grey);
        --theme-card-surface: var(--swatch-blue);
        --theme-card-text: var(--swatch-white);

        --theme-header-text: var(--swatch-black);
        --theme-header-logo: 0;
        --theme-footer-logo: 0.6;
    }

    html[data-useragent='hhea'] {
        --MP-CH: 0.205em;
        --MP-XH: 0.43em;
        --MP-B: 0.102em;
        --MP-I: 0.08em;
    }

    html[data-useragent='typo'] {
        --MP-CH: 0.2em;
        --MP-XH: 0.425em;
        --MP-B: 0.105em;
        --MP-I: 0.08em;
    }

    /* ANTI ALIASING */
    html {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }

    body {
        @apply relative overflow-x-hidden kern text-theme-text bg-theme-surface;
    }

    main {
        @apply static xs:container mx-auto min-h-screen;
    }

    body.lock-scroll {
        overflow: hidden;
    }
}

@layer components {
    /* Utils */
    .grid-columns {
        grid-template-columns: repeat(var(--metrics-columns), minmax(0, 1fr));
    }

    .fill-grid {
        background-image: linear-gradient(red 1px, #ff000055 1px), linear-gradient(to right, red 1px, #ff000055 1px);
        background-size: var(--metrics-unit) var(--metrics-unit);
    }

    .fill-rows {
        background-image: linear-gradient(
            180deg,
            red calc(var(--metrics-module)),
            transparent calc(var(--metrics-module))
        );
        background-size: calc(var(--metrics-module) + var(--metrics-gutter))
            calc(var(--metrics-module) + var(--metrics-gutter));
    }

    /* Typography Utils */
    .kern {
        --x-height: var(--MP-XH);
        --cap-height: var(--MP-CH);
        --bottom-height: var(--MP-B);
        --inset: var(--MP-I);
    }

    .calc-fontsize {
        font-size: calc(var(--font-size) * 1px);
        line-height: calc(var(--line-height) * 1px);
    }

    .calc-trim {
        --line-height-extra: calc((var(--line-height) - var(--font-size)) / 2);
        --top-offset-x: calc(var(--line-height-extra) * 1px + var(--x-height));
        --top-offset-cap: calc(var(--line-height-extra) * 1px + var(--cap-height));
        --bottom-offset: calc(var(--line-height-extra) * 1px + var(--bottom-height));
    }

    .trim {
        @apply block calc-trim;
        margin-top: calc(var(--top-offset-x) * -1);
        margin-bottom: calc(var(--bottom-offset) * -1);
        margin-left: calc(var(--inset) * -1);
    }

    .trim-cap {
        @apply block calc-trim;
        margin-top: calc(var(--top-offset-cap) * -1);
        margin-bottom: calc(var(--bottom-offset) * -1);
        margin-left: calc(var(--inset) * -1);
    }

    .trim-line {
        @apply block calc-trim;
        padding-top: var(--bottom-offset);
        margin-bottom: calc(var(--bottom-offset) * -1);
        margin-left: calc(var(--inset) * -1);
    }

    .trim-bottom {
        @apply block calc-trim;
        margin-bottom: calc(var(--bottom-offset) * -1);
    }

    /* Typography styles */

    .typo-title-lg {
        @apply calc-fontsize;
        --font-size: 32;
        --line-height: 32;
        letter-spacing: -0.02em;
    }

    .typo-title {
        @apply calc-fontsize;
        --font-size: 24;
        --line-height: 24;
        letter-spacing: -0.02em;
    }

    .typo-title-sm {
        @apply calc-fontsize;
        --font-size: 20;
        --line-height: 20;
        letter-spacing: -0.02em;
    }

    .typo-short {
        @apply calc-fontsize;
        --font-size: 16;
        --line-height: 20;
        letter-spacing: -0.01em;
    }

    .typo-short-sm {
        @apply calc-fontsize;
        --font-size: 16;
        --line-height: 16;
        letter-spacing: -0.01em;
    }
    @media (min-width: theme('screens.md')) {
        .typo-short-sm {
            --font-size: 12;
            --line-height: 16;
        }
    }

    .typo-caps-huge,
    .typo-caps-3xl,
    .typo-caps-2xl {
        @apply calc-fontsize uppercase;
        --font-size: 64;
        --line-height: 64;
        letter-spacing: -0.03em;
    }

    @media (min-width: theme('screens.md')) {
        .typo-caps-huge {
            --font-size: 88;
            --line-height: 88;
        }
        .typo-caps-3xl {
            --font-size: 72;
            --line-height: 72;
        }
        .typo-caps-2xl {
            --font-size: 72;
            --line-height: 72;
        }
    }

    @media (min-width: theme('screens.lg')) {
        .typo-caps-huge {
            --font-size: 120;
            --line-height: 120;
        }
        .typo-caps-3xl {
            --font-size: 88;
            --line-height: 88;
        }
    }

    .typo-caps-lxl {
        @apply calc-fontsize uppercase;
        --font-size: 48;
        --line-height: 48;
        letter-spacing: -0.03em;
    }

    .typo-caps-lg {
        @apply calc-fontsize uppercase;
        --font-size: 40;
        --line-height: 40;
        letter-spacing: -0.03em;
    }

    .typo-caps {
        @apply calc-fontsize uppercase;
        --font-size: 32;
        --line-height: 32;
        letter-spacing: -0.03em;
    }

    .typo-caps-sm {
        @apply calc-fontsize uppercase;
        --font-size: 24;
        --line-height: 24;
        letter-spacing: -0.03em;
    }

    .typo-caps-xs {
        @apply calc-fontsize uppercase;
        --font-size: 20;
        --line-height: 20;
        letter-spacing: -0.03em;
    }

    .typo-caps-2xs {
        @apply calc-fontsize uppercase;
        --font-size: 16;
        --line-height: 16;
        letter-spacing: -0.03em;
    }

    /* Effects */
    @supports (-webkit-text-stroke-width: 1px) {
        .text-outline {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: var(--theme-text);
            -webkit-text-stroke-width: 1px;
            padding-left: 1px;
            padding-right: 1px;
        }
        @media (min-width: theme('screens.lg')) {
            .text-outline {
                -webkit-text-stroke-width: 1.5px;
                padding-left: 1.5px;
                padding-right: 1.5px;
            }
        }

        .text-outline-thin {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-color: var(--theme-text);
            -webkit-text-stroke-width: 0.5px;
            padding-left: 0.5px;
            padding-right: 0.5px;
        }
    }
}
